*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.scissor-logo{
    width: 1,150px;
    height: 44px;
    top: 12px;
   margin-left: 5rem;
}

.hero-section{
    background-image: url(Assest6/Hero\ section.png);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: black;
}

.url a{
    color: #0065FE;
}

.login {
    text-decoration: none;
    margin-right: 10px;
}

.trytofree {
    border: 2px solid #0065FE;
    background-color: #0065FE;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 27px;
    padding: 10px;

}

.optimize{
    font-family: url(text/gilroy-bold.ttf);
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.advanced{
    font-family: url(text/gilroy-bold.ttf);
    font-weight: 700;
    font-size: 29px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.log02{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
